

<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  </div>
<!-- <app-employee></app-employee>  -->
  <!-- <app-mobile></app-mobile> -->
<!-- <app-demo></app-demo> -->
<!-- <app-keyboard></app-keyboard> -->
<!-- <app-car></app-car> -->
<!-- <Student-comp></Student-comp> -->
<!-- <app-customer></app-customer> -->
<!-- <app-tv></app-tv> -->
<!-- <app-car-count></app-car-count> -->
<app-countries></app-countries>
<router-outlet></router-outlet>
